# TCHAK - Git Ignore

# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.local

# Output / Build
dist/
release/
*.exe
*.dmg
*.appimage
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db

# Cloud
.netlify/
