# Supabase (optionnel pour V0)
SUPABASE_URL=https://pdvzkasjjxavsjsoondx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkdnprYXNqanhhdnNqc29vbmR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwMTEwMDMsImV4cCI6MjA5MTU4NzAwM30.tQ73bXizgR87c-pCQdttao0rV63u1lcAVgufuVAdqHI
